.container {
  margin: auto;

  width: 375px;
  height: 100vh;
  background-color: rgb(194, 252, 139);

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./image/bg.png");
}

.audio {
  display: none;
}
