.container {
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./image/slot.png");

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 22px 12px;
  padding-bottom: 0;
}
